@page "/fetchdata"

@using Syncfusion.Blazor.Calendars
@using System.ComponentModel.DataAnnotations;
@using FluentValidation


<EditForm Model="annotation" OnValidSubmit="SaveCustomer">
    <FluentValidator Validator="custVal" />

    <h3>Your name</h3>
    <InputDate ID='DatePick' TValue="DateTime?" @bind-Value="@annotation.date" Width="250px"></InputDate>
    <ValidationMessage For="@(() => annotation.date)" />

    <p><button type="submit">Submit</button></p>
</EditForm>

@code {


    private Annotation annotation = new Annotation();

    CustomerValidator custVal = new CustomerValidator();
    public class CustomerValidator : AbstractValidator<Annotation>
    {
        public CustomerValidator()
        {
            RuleFor(customer => customer.date).NotEmpty();

        }
    }
    void SaveCustomer()
    {
        Console.WriteLine("TODO: Actually do something with the valid data");

    }

    public class Annotation
    {
        [Required]
        public DateTime? date { get; set; } = null;
        [Required]
        public Object dateRange { get; set; } = null;

        [Required]
        public DateTime? startDate { get; set; } = null;

        [Required]
        public DateTime? EndDate { get; set; } = null;
    }

}